<?xml version="1.0" encoding="utf-8" ?>

<suite  name = 'test'>
    <test name = "loging">
        <groups>
            <run>
                <include name="1"/>
            </run>
        </groups>
        <classes>
            <class name="com.lianxi.Testng.Test.TestngConfig"/>
            <class name="com.lianxi.Testng.Test.Loging"/>
            <class name="com.lianxi.Testng.Test.Pay"/>
        </classes>
    </test>
<!--    <test name = "pay">-->
<!--        <classes>-->
<!--            <class name="com.lianxi.Testng.Test.TestngConfig"/>-->
<!--            <class name="com.lianxi.Testng.Test.Pay"/>-->
<!--        </classes>-->
<!--    </test>-->
</suite>